################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/data
/src/__pycache__
/.idea
gist_injection_data.csv
gist_well_data.csv
