################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/data
/src/__pycache__
/.idea

# Agent markdown files
AGENTS.md
CLAUDE.md

# any __pycache__ directories
**/__pycache__/

# cursor directory
.cursor/

# claude
.claude/

# any .venv directories
**/venv/
gist_venv/

/src/data/disposal_inj.csv
/src/data/disposal_well.csv

/src/data/disposal_inj_b3_format.csv
/src/data/disposal_well_b3_format.csv

/src/injection/credentials.py

# ignore the Input_Files/Earthquake_Catalog.csv file
/src/Input_Files/Earthquake_Catalog.csv

# log files
*.log

# csv files
*.csv
src/injection/test_updater/
src/injection/injection_updater_V4.log

# ignore the credentials.py file
credentials.py

# specific injection data
RRC_data/
rrc_transformed/
test_data/
injection_data_backups/

# .pyc files
*.pyc

/src/injection/inspect_shapefiles.py
/src/injection/basement_permian/
/src/data/texnet_injection_data.csv

injection_updater_v5_documentation.md
RRC_Data_Integration_Overview.md
WALKTHROUGH_NOTES.md

